<h1>Disaster List</h1>
<%= link_to "Add New Disaster",new_disaster_path, class: "btn btn-success" %>
<br>
<br>
<table class="table table-bordered">
  <thead>
  <th width="5%">Id</th>
  <th width="20%">Disaster Title</th>
  <th width="55%">Date Created</th>
  <th width="5%">Comments</th>
  <th width="15%">Action</th>
  </thead>
  <tbody>
  <% @disaster.each do |disaster| %>
    <tr>
      <td><%= disaster.id %></td>
      <td><%= disaster.title%></td>
      <td><%= time_ago_in_words(disaster.created_at)%> ago, last updated: <%= time_ago_in_words(disaster.updated_at)%> ago.</td>
      <td><%= disaster.comments.count%></td>
      <td>
        <%=link_to "Read",disaster_path(disaster), class: "btn btn-primary col-sm-12" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="pull-right">
  <%= paginate @disaster %>
</div>